.mainTab {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-content {
  width: 95vw;
  height: 80vh;
}

header, footer {
  text-align: center;
}