.mainTab {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mainTab li a {
  text-decoration: none;
}

.main-content {
  width: 100%;
  height: 80vh;
}

header, footer {
  text-align: center;
}

.orchard, .main {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 2%;
}

/* .orchard .plot {
  width: 33%;
  height: 33%;
  display: flex;
  justify-content: center;
  padding: 1% 0;
} */

.plot {
  width: 33%;
  height: 33%;
  display: flex;
  justify-content: center;
  padding: 1% 0;
}

.plot img {
  width: 50%;
  /* height: 50%; */
  pointer-events: none;
}

/* .orchard .plot img {
  width: 50%;
} */

.active {
  background-color: lightblue;
}

.shop-header {
  width:98%;
  margin: 0 auto;
  color: #5cc37F;
  background-color: black;
  height: 5%;
  text-align:center;
  padding:1% 0%;
}

/* CSS for table within Shop */

table {
  width: 85%;
  margin: 0 auto;
}

tbody th {
  font-weight: normal;
}

thead {
  text-decoration: underline;
}

.user-info  {
  text-align:center;
  padding: 1% 0;
}
