.App {
  width: 100%;
  height: auto;
}

header {
  font-family: 'Indie Flower', sans-serif;
  font-weight: 700;
  font-size: 32px;
  background-color: black;
  color: white;
}

footer {
  background-color: black;
  color: white;
  padding: 0.5% 0;
}

#icon {
  width: 22px;
  height: 22px;
  padding: 0 1%;
}

.mainTab {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  padding: 0.25% 0;
}

.mainTab li a {
  text-decoration: none;
}

.main-content {
  width: 100%;
  height: 100vh;
  background-color: #FAF3EB;
  padding-bottom: 20%;
}

header, footer {
  text-align: center;
}

button {
  cursor: pointer;
  margin: 2% 0;
}

/* Orchard CSS */

.orchard, .main, .hanging, .sculpture {
  display:flex;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 2%;
}

.barnyard {
  padding-top: 1.5%;
}

.plot {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5%;
}

.plot img {
  width: 45%;
  height:50%;
  /* height: 50%; */
  pointer-events: none;
}

.active {
  background-color: lightblue;
}


/* CSS for General Shop */

.general {
  width: 100%;
  height: 100%;
}

.tab-header {
  width: 100%;
  margin: 0 auto;
  color: #5cc37F;
  background-color: black;
  height: 4%;
  text-align:center;
  padding: 0.5% 0%;
}

.user-info {
  font-size: 1.25em;
}

.user-info ul {
  list-style-type: none;
}

/* CSS for table within Shop */

table {
  width: 85%;
  height: 60%;
  margin: 0 auto;
  padding-bottom: 2%;
}

tbody th {
  font-weight: normal;
}

thead {
  text-decoration: underline;
}

.user-info  {
  text-align:center;
  padding: 1% 0;
}

/* Barnyard CSS */

.barnyard .water {
  position: absolute;
  right: 5%;
  bottom: 10%;
}

.water-commands {
  padding-bottom: 10%;
}

/* Style for react-select */
.css-2b097c-container {
  width: 50%;
  padding: 1.75% 0;
}

.react-sweet-progress {
  width: 75% !important;
}

/* main Garden CSS */

.mainGarden-status {
  text-align: center;
  padding-top: 1%;
}

.mainGarden-status .react-sweet-progress {
  margin: 0 auto !important;
}

.plot-status {
  text-align: center;
  padding: 2% 0;
}

.plot-status .react-sweet-progress {
  display: inline-flex  !important;
}

.mainGarden-status .react-sweet-progress-line-inner {
  max-width: 100% !important;
}

.main button {
  border: none;
  background-color: #5cc37F;
  color: white;
  padding: 2%;
  width: 25%;
  border-radius: 5px;
}


/* Harvest Modal Styles */

.harvest-modal {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.harvest-modal button {
  width: 25%;
  margin: 2.5%;
  padding: 1%;
}

.harvest-modal img {
  width: 30%;
  margin: 0 auto;
}


